# .coveragerc to control coverage.py
[run]
branch = False

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.pf['debug']
	if self\.pf['verbose']

    # Don't complain if tests don't hit defensive assertion code:
    raise ImportError
    raise NotImplementedError
    except ImportError
    except NotImplementedError
	
	# Don't complain if rank > 0 blocks aren't executed
	if rank > 0:
	if size > 1:

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = htmlcov

