*.pyc
*.c
*.h
*.hdf5
ares.egg-info
*.png
*.tar.gz
docs/_build
docs/*.py
docs/*.txt
docs/*.pkl
docs/examples/*.txt
docs/examples/*.pkl
docs/examples/.ipynb_checkpoints
input/eos
input/irac/*.txt
input/roman
input/planck/
input/secondary_electrons/x_int_tables/
input/inoue2011
input/wfc/
input/wfc3/
input/starburst99
input/inits/outputs/
input/bpass_v1/SEDS
input/bpass_v1/*tar.gz
input/bpass_v2
input/inits/*.txt
input/nircam
tests/.coverage
.coverage
coverage.xml
htmlcov
.DS_Store
tests/*.pkl
tests/*.txt
