*.pyc
*.c
*.h
*.hdf5
ares.egg-info
*.png
*.tar.gz
input/planck/
input/secondary_electrons/x_int_tables/
input/wfc/
input/wfc3/
input/inits/outputs/
input/bpass_v1/SEDS
input/bpass_v1/*tar.gz
input/inits/*.txt
input/nircam
tests/.coverage
.coverage
coverage.xml
htmlcov
.DS_Store
tests/*.pkl
tests/*.txt
